@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}
*::-webkit-scrollbar {
  display: none;
}

body {
  background-image: url("https://cdn.discordapp.com/attachments/800880177634344962/812779696835395644/ishan-seefromthesky-8qEuawM_txg-unsplash-scaled.jpg");
  background-size: cover;
  background-position-y: -650px;
  font-size: 16px;
}

.navbar {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.navbar__elements {
  display: flex;
  list-style: none;
  column-gap: 50px;
}
.navbar__element {
  padding: 15px 8px;
  text-transform: uppercase;
  color: #0c1c22;
  font-weight: 500;
}
.navbar__element--active {
  color: white;
  background-color: #389583;
}
.navbar__icon {
  color: #0c1c22;
}

.landing {
  position: relative;
  min-height: 100vh;
}
.landing__title-wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.landing__title {
  text-transform: uppercase;
  font-size: 10rem;
  font-weight: 200;
  color: white;
  text-align: center;
}
.landing__action {
  margin-top: 20px;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 200;
  color: white;
  text-align: center;
}

.content {
  background: linear-gradient(180deg, rgba(12, 28, 34, 0) 0%, rgba(12, 28, 34, 0.4) 3%, rgba(12, 28, 34, 0.7) 10%, #0c1c22 20%, #060d10 100%);
}
.content__wrapper {
  height: 100%;
  padding-top: 150px;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: 1fr 2px 1fr;
  row-gap: 20px;
}
.content__separator {
  grid-column: 2/3;
  grid-row: 1/5;
  background: linear-gradient(180deg, #389583 0%, #389583 25%, #5cd594 50%, #8de4af 75%, #b6ffd2 100%);
}

.creature-description {
  padding: 0 5% 0 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.creature-description:nth-of-type(2n+1) {
  padding: 0 20% 0 5%;
  align-items: flex-end;
  text-align: right;
}
.creature-description:nth-of-type(2n+1) .creature__depth {
  left: 100%;
  transform: translateX(-100%) rotate(-90deg);
}
.creature-description__title {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--creature-color, #389583);
}
.creature-description__desc {
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: rgba(245, 242, 232, 0.5);
}
.creature-description__button {
  margin-top: 20px;
  padding: 10px 15px;
  width: fit-content;
  background-color: var(--creature-color, #389583);
}

.creature {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.creature:nth-of-type(2n) .creature__depth {
  left: 100%;
  transform: translateX(-100%) rotate(-90deg);
}
.creature:nth-of-type(2n) .creature__image {
  transform: scaleX(-1);
}
.creature__depth {
  width: fit-content;
  position: absolute;
  left: 0;
  top: 50%;
  transform: rotate(90deg);
  font-weight: 600;
  font-size: 1.5625rem;
  color: var(--creature-color, #389583);
}
.creature__image {
  width: 50%;
}

div[id$="1"] {
  --creature-color: #389583 ;
}

div[id$="2"] {
  --creature-color: #5CD594 ;
}

div[id$="3"] {
  --creature-color: #8DE4AF ;
}

div[id$="4"] {
  --creature-color: #B6FFD2 ;
}

/*# sourceMappingURL=stylesheet.css.map */
